<ion-header>

    <ion-navbar color="positive">
        
      <ion-title>My Order</ion-title>
    </ion-navbar>
  
  </ion-header>
<ion-content >
    <ion-card (click) = "openOderDetail()">
        <ion-card-header>
          OrderId #01245750124<br>
          <small>sunday | 12:30:00 AM</small>
        </ion-card-header>
        <ion-icon name="arrow-forward" class = "right-icon" item-start></ion-icon>
        </ion-card>
</ion-content>
 