page-p2 {
    .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
        margin: 10px 10px 10px -5px;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        width: 100px;
        height: 100px;
        border-radius: 0%;
    }
    .label-md {
        margin: -49px 66px 9px 5px;
    }
    .qty-size{
        text-align: end;
        font-size: 20px;
        position: absolute;
        z-index: 99;
        right: 15px;
        bottom: 10px;
    }
    ion-card {
        border-left: 3px solid rgb(0, 255, 55);
     }
     .right-icon{
        position: absolute;
        top: 35px;
        right: 25px;
        font-size: large;
        color: slategrey;
     }
}