<!-- <ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>veggies</ion-title>
        <div class="cartIcon" (click)="openCart()">
            <ion-icon name="md-cart"></ion-icon>
        </div>
    </ion-navbar>
</ion-header> -->
<ion-content padding class="home-page">
    <div style="
    padding-bottom: 45px !important;
">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-grid style="margin-top: -25px !important;">
        <ion-row wrap>
            <ion-col width-50 *ngFor="let item of productDetail">
                <ion-card>
                    <img (click) = "openProductDetailsPage(item)" src="{{item.pdt_Img}}" style="min-height: 115px;"/>
                    <p class="product-Title">{{item.pdt_Name}}</p>
                    <ion-row>
                        <ion-col col-6 style="text-align: center;color: #e16038;font-size: x-large;">
                            {{item.pdt_Price}}
                        </ion-col>
                        <ion-col col-6 style="text-align: center;color: forestgreen;font-size: x-large;">
                            <ion-icon name="ios-basket" (click) = "addToCart(item)"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
    <ion-fab right bottom>
        <button ion-fab color="danger" (click) = 'openCartPage()'><ion-icon name="md-cart"></ion-icon></button>
      </ion-fab>

</ion-content>
