page-about {
.col{
    max-width: 50%;
}
.home-page .scroll-content {
    padding: 0px !important;
}
.product-Title{
    font-size: inherit;
    margin-left: 10px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-weight: 800;
    color: #3d7c8b;
}
.cartIcon{
    float: right;
    margin: -15px;
    position: relative;
    right: 30px;
    font-size: 17px;
    bottom: 5px;
}
.card{
    min-height: 200px !important;
}
.row{
    margin-top: 22px;
}
}
