page-login {
    .item { padding-left: 0px; }
    .item-inner { padding-right: 0px !important; }
    .button { box-shadow: none; }
    .checkbox { margin:0px !important; }
    ion-list { margin:0px !important; }
    .checkbox-icon { width:18px !important; height:18px !important; }
    .rem-me.label { margin-left: 5px !important; }
}
