  <!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginFrm" novalidate (ngSubmit)="onLoginSubmit(loginFrm);">
    <ion-list>
      <ion-item>
        <ion-label floating>Username *</ion-label>
        <ion-input type="text" formControlName="username" maxlength="25" clearInput></ion-input>
      </ion-item>
      <div *ngIf="loginFrm.controls['username'].errors && loginFrm.controls['username'].dirty">
        <div class="fg-danger p-t-5" [hidden]="!loginFrm.controls.username.errors.required">
          This field is required
        </div>
        <div class="fg-danger p-t-5" [hidden]="!loginFrm.controls.username.errors.minlength">
          Username must be Minimum 5 character
        </div>
        <div class="fg-danger p-t-5" [hidden]="!loginFrm.controls.username.errors.pattern">
          Enter a valid mailId
        </div>
      </div>
      <ion-item>
        <ion-label floating>Password *</ion-label>
        <ion-input type="password" formControlName="password" maxlength="15" clearInput></ion-input>
      </ion-item>
      <div *ngIf="loginFrm.controls['password'].errors && loginFrm.controls['password'].dirty">
        <div class="fg-danger p-t-5" [hidden]="!loginFrm.controls.password.errors.required">
          This field is required
        </div>
        <div class="fg-danger p-t-5" [hidden]="!loginFrm.controls.password.errors.minlength">
          Password must be Minimum 5 character
        </div>
      </div>
      <ion-row>        
      <ion-col col-6 class="p-0">
        <ion-list>
        <ion-item>
          <ion-label class="rem-me">Remember Me</ion-label>
          <ion-checkbox color="primary" formControlName="remember"></ion-checkbox>
       </ion-item>
        </ion-list>
      </ion-col>
      <ion-col class="aling-right p-t-15" col-6>         
          <u class="fg-blue" (click)="forgetPassword()">Forgot Password?</u>
        </ion-col>
      </ion-row>
      <button class="p-t-5" ion-button block type="submit" [disabled]="!loginFrm.valid">Login</button>
    </ion-list>
    <p>Dont have an account please <a href="#/singup-page" style="color:dodgerblue">Singup.</a></p>
  </form>
</ion-content>