page-user-signup {
    .item { padding-left: 0px; }
    .item-inner { padding-right: 0px !important; }
    .button { box-shadow: none; }
    .country-code {
        position:  absolute;
        z-index: 9;
        margin-top: 36px;
        color: #6b7979;
    }
    .user-mobile{
        margin-left: 32px;width: 50%;
    }
    
}
