<!--
  Generated template for the UserSignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="positive">
      <ion-buttons left>
          <button ion-button icon-only (click) = "goLogin()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Sign-Up</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label floating>Name *</ion-label>
    <ion-input type="text" maxlength="25" [(ngModel)]= "userDetails.name" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>UserAddress *</ion-label>
    <ion-input type="text" maxlength="100"  [(ngModel)]= "userDetails.userAddress"  clearInput></ion-input>
  </ion-item>
  
 
  <ion-card *ngIf="userslat">
    <ion-card-header>
      userLocationDetail
    </ion-card-header>
  
    <ion-list padding>
      <button ion-item>
        <ion-icon name="locate" item-start></ion-icon>
        <strong> &nbsp; {{userslat}}</strong>
      </button>
      <button ion-item>
        <ion-icon name="locate" item-start></ion-icon>
        <strong> &nbsp;{{userslng}}</strong>
      </button>
  
    </ion-list>
  </ion-card>
    <ion-label floating>map *</ion-label>
    <button class="" ion-button block (click) = "openmaps()" >select location</button>

    <strong class = "country-code">+91</strong>
  <ion-item class = "user-mobile">
    <ion-label floating>MobileNumber *</ion-label>
    <ion-input type="text" maxlength="100"  [(ngModel)]= "userDetails.mobileNumber"  clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>UserEmail *</ion-label>
    <ion-input type="text" maxlength="25" clearInput  [(ngModel)]= "userDetails.userEmail" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password *</ion-label>
    <ion-input type="password" maxlength="25"  [(ngModel)]= "userDetails.pwd"  clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Confirm password *</ion-label>
    <ion-input type="password" maxlength="25" [(ngModel)]= "userDetails.userPassword"   clearInput></ion-input>
  </ion-item>
<div class="p-t-15">
  <button class="" ion-button block (click) = "userSignup(userDetails)" >Sign Up</button>
  </div>
</ion-content>
