<ion-header>

  <ion-navbar>
    <ion-title>shoppingCart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="desc">
  <ion-card>
    <img [src]="itemList?.pdt_Img"
      #imageToView (click)="onClick(imageToView)">
    <ion-item style="padding: 0px 10px;border-top: 1px solid #ddd;">
      <p style="font-weight: 600;color: teal;">{{itemList?.pdt_Name}}</p>
    </ion-item>
    <ion-row>
      <ion-col col-6>
        <p style="text-align: left;color: #e16038;font-size: x-large;margin: -5px 11px 9px 10px;">
          {{itemList?.pdt_Price}}
        </p>
      </ion-col>
      <!-- <ion-col col-6 style="text-align: end;font-size: 20px;padding-top: 3px;padding-right: 15px;">
        <ion-icon name = "remove-circle" style="color: red;" (click)= "removeItem(currentNumber)"></ion-icon>
        <span>{{currentNumber}}</span>
          <ion-icon name = "add-circle" style="color: green;" (click)="addItem(currentNumber)"></ion-icon>
        </ion-col> -->
        </ion-row>
      <ion-row>
        <ion-col col-4 style="border: 1px solid #f4f4f4;">
          <p style="text-align: center;margin-top:  5px;">
            <ion-icon name="ios-redo"></ion-icon>
            Share</p>
        </ion-col>
        <ion-col (click) = "doPrompt()" col-4 style="border-top: 1px solid #f4f4f4;">
          <p style="text-align: center;margin-top:  5px;">
            <ion-icon name="ios-heart"></ion-icon>
            Bulk</p>
        </ion-col>
        <ion-col col-4 style="border-top: 1px solid #f4f4f4;">
          <p style="text-align: center;margin-top:  5px;">
            <ion-icon name="ios-heart"></ion-icon>
            Whiselist</p>
        </ion-col>
      </ion-row>
  </ion-card>
  <ion-card>
    <ion-item style="border-bottom: 1px solid #ccc;">
      <p style="font-weight: 600;color: grey;">Description</p>
    </ion-item>
    <h6 style="padding: 10px 12px;font-weight: 100;color: slategrey;">
        {{itemList?.pdt_Description}}
    </h6>
  </ion-card>
</ion-content>