<ion-header>
  <ion-navbar>
    <ion-title>
      Set user Location
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='toggleSearch()'>
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)='choosePosition()'>
        <ion-icon name="ios-locate-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<div class="switch">
  <button ion-button color="light" (click)="closeModal()" [class.active]="(switch == 'map')" icon-only><ion-icon name="map"></ion-icon>{{save}}</button>
</div>
<!-- <button>{{userData}}</button> -->
<!-- <div class="currentitem" *ngIf="currentregional">
  <button ion-item no-lines (click)="viewPlace(currentregional.title)">
    <h2>{{ currentregional.title }}</h2>
    <ion-note item-right icon-only><ion-icon name="ios-arrow-forward"></ion-icon></ion-note>
  </button>
</div> -->

<ion-content>
  <!-- <div [hidden]="!(switch == 'list')">
    <ion-list>
      <ion-item>
        <h2>Test</h2>
      </ion-item>
      <ion-item>
        <h2>Test</h2>
      </ion-item>
      <ion-item>
        <h2>Test</h2>
      </ion-item>
    </ion-list>
  </div> -->

  <div class="map" [class.hidemap]="!((switch == 'map') || error)">
    <ion-searchbar #searchbar placeholder="search" [hidden]="!search"></ion-searchbar>
    <div id="map" #map></div>
  </div>
  <ion-fab  left bottom (click)='toggleSearch()'>
    <button ion-fab mini ><ion-icon name="search" ></ion-icon></button>
  </ion-fab>
</ion-content>
