<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="list card">
    <ion-item class="profile-item" style="background-color: rgb(145, 207, 204)">
      <div class="profile-picture big-profile-picture">
        <img src="http://www.keeraikadai.in//mobiresize.php?src=http://www.keeraikadai.in/media/keeraikadai/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/4/0/40036724_3-fresho-banana-stem-organically-grown.jpg&h=230&zc=1">
      </div>
      <h2 class="profile-name dark">Manoj</h2>
      <!-- <div class="profile-info">No:4/131 ,Thulasi street,poonganagar,Thiruvallur - 602001</div> -->
    </ion-item>
  </div>
  <ion-card>
    <ion-card-header>
      profile Details
      <ion-icon name="create" class = "profil-icon" item-start></ion-icon>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        jmanojkumar27@gmail.com
      </ion-item>
 
      <ion-item>
        <ion-icon name="call" item-start></ion-icon>
        9444508596
      </ion-item>
 
      <ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        4/313,Thulasistreet,Thiruvallur - 602001
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card (click) = "openUserOrderPage()">
    <ion-card-header>
      My orders
      <ion-icon name="arrow-forward" class = "profil-icon" item-start></ion-icon>
    </ion-card-header>
    </ion-card>
  <button ion-button round (click) = "logout()" ><ion-icon name="log-out"></ion-icon> &nbsp; Logout</button>
</ion-content>
