<ion-header>
 <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>veggies</ion-title>
        <div class="cartIcon" (click) = "openUserProfile()">
            <ion-icon name="person"></ion-icon>
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <super-tabs id="mainTabs" scrollTabs toolbarColor="light" toolbarBackground="dark" indicatorColor="yellow" badgeColor="yellow" (tabSelect)="onTabSelect($event)">
        <super-tab id = "page1"[swipeBackEnabled]="false" [root]="tab2Root" title="spinish" ></super-tab>
        <super-tab id = "page2"[root]="tab3Root" title="vegetabels" ></super-tab>
        <super-tab id = "page3"[root]="tab4Root" title="others" ></super-tab>
        <super-tab id = "page4"[root]="tab5Root" title="festival Items" ></super-tab> 
  </super-tabs>