page-home {

.scroll-tab-md .tab-button[aria-selected=true] {
  border-bottom: 3px solid rgba(72, 139, 255, 0.836);
}

.scroll-tab-ios .tab-button[aria-selected=true] {
  border-bottom: 3px solid rgb(72, 138, 255);
}
.cartIcon{
    float: right;
    margin: -15px;
    position: relative;
    right: 30px;
    font-size: 17px;
    bottom: 5px;
}
.toolbar-md-dark .toolbar-background-md {
  background: #f8fcfb !important;
}
super-tabs-toolbar > ion-toolbar.toolbar.scroll-tabs .tab-buttons-container .indicator{
  border-bottom: 2px solid  rgba(72, 139, 255, 0.836);
}
super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-only .title{
  color: #636369;
}
}
