<ion-header>

    <ion-navbar color="positive">
        
      <ion-title>Cart</ion-title>
    </ion-navbar>
  
  </ion-header>
<ion-content >
  <ion-card *ngFor="let cart of cartItem; let i = index">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="cart?.pdt_Img" />
      </ion-avatar>
      <h2>{{cart?.pdt_Name}}</h2>
      <p>{{cart?.pdt_Price}}</p>
      <span class="qty-size">
          <ion-icon name = "remove-circle" style="color: red;" (click)= "removeItem(cart,cart?.pdt_Quantity)"></ion-icon>
          <span class="p-10">{{cart?.pdt_Quantity ? cart?.pdt_Quantity : 1}}</span>
            <ion-icon name = "add-circle" style="color: green;" (click)="addItem(cart,cart?.pdt_Quantity)"></ion-icon>
      </span>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <div class="p-lr-15">
    <button class="" ion-button block (click) = "userSignup(userDetails)" >Checkout Order</button>
    </div>
    </ion-footer> 
