// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@keyframes anim-t-b {
    from {
        opacity: 0;
        transform: translateY(-10px);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// PADDING
.p-t-5 { padding-top: 5px !important; }
.p-t-15 { padding-top: 15px !important; }
.p-t-20 { padding-top: 20px !important; }
.p-10 { padding: 10px; }
.p-0 { padding: 0; }
.p-t-10 { padding-top: 10px; }
.p-b-0{padding-bottom:5px !important;}
.p-b-full-0{padding-bottom:0px !important;}
.p-lr-15{padding: 0 15px;}

// MARGINS
.m-0 { margin: 0px; }

.m-10{margin-bottom: 10px !important;}
.m-t-0{margin-top: 0px;}
.m-b-5{margin-bottom: 5px;}


// COLOR FG
.fg-danger { color: color($colors, danger); }
.fg-danger { animation: 1s anim-t-b ease-in-out 0s forwards; }
.fg-blue { color: #0000FF !important; }

// OTHERS
.f-w-b { font-weight: bold; }

.scan.icon{
    position: absolute;
    z-index: 99;
    right: 18px;
    font-size: 35px;
    top: 43px
}
.arrow{position: absolute;top: 40px;right: 20px;font-size: 25px;color: #70716c;}
.border-sm-bottom{border-bottom: 1px solid #ccc;margin-left: 25px;margin-right: 25px;}
.border-btm-full{border-bottom: 1px solid #ccc;}
.no-border{border-bottom: 0px !important;}
.aling-right{text-align: right;}

// Spinner loading customization
.loading-wrapper {
    border-radius: 2px;
    max-width: 280px;
    max-height: 90%;
    color: #000 !important;
    background: #FFF !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4) !important;
    padding: 20px !important;
}

// Toast Customization
.toast-message { padding: 1rem !important; }
.toast-wrapper { text-align: center; padding: 0 10px; position: relative !important; border-radius: 20px; }